.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Basic
html {
  font-size: 16px;
}

input {
  padding: 0 16px;
}

input,
input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 3;
}

label {
  margin-bottom: 4px;
}


// Nav Bar
.nav-tab :hover {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}


/* Avatar */
.btn-logout {
  font-size: 12px;
  margin-bottom: 0;
}

.btn-color {
  background-color: #0e1f57
}


// Form
.btn-search {
  padding: 2px;
  height: 35px;
}

.form-font-size {
  font-size: 16px;
}

.input-font-size {
  font-size: 16px;
  height: 36px;
  min-height: 36px;
  max-height: 36px;
}

.input-number {
  width: 100%;
  border: 1px solid #DDE6E9;
  border-radius: 4px;
}

::placeholder {
  color: #B7BAC9;
}

input:focus {
  border-color: #66AFE9;
}

.span-disabled {
  color:#e2e2e2;
}

.t-area-h {
  height: 100px;
}


/* Table */
.tr-cursor {
  &:hover {
    cursor: pointer !important;
  }
}

.swal-del {
  height: 34px;
}

// Sliding Pane
.ReactModalPortal {
  position: relative;
  z-index: 1000;
}