.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Basic
html {
  font-size: 16px;
}

input {
  padding: 0 16px;
}

input,
input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 3;
}

label {
  margin-bottom: 4px;
}

// Common
.center-parent {
  text-align: center;
}

.ft-detail {
  font-size: 16px;
}

// List
.list-hover:hover {
  cursor: pointer;
  background-color: #EDF1F2;
}

.list-header {
  background-color: #F0F0F0;
  font-weight: bold;
  line-height: 32px;
  min-height: 32px;
}

.list-detail {
  line-height: 32px;
  min-height: 32px;
}

.list-docs {
  line-height: 52px;
  min-height: 52px;
}

.hr-margin-0 {
  margin: 0;
}


// Nav Bar
.nav-tab :hover {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}


// Avatar
.btn-logout {
  font-size: 12px;
  margin-bottom: 0;
}

.btn-color {
  background-color: #061956;
  border-color: #061956;
}


.otp {
  height: 80px;
  border: 2px solid #061956;
  font-size: 48px;
  text-align: center;
}


// Form
.btn-search {
  padding: 2px;
  height: 35px;
}

.form-font-size {
  font-size: 16px;
}

.input-font-size {
  font-size: 16px;
  height: 36px;
  min-height: 36px;
  max-height: 36px;
}

.input-number {
  width: 100%;
  border: 1px solid #DDE6E9;
  border-radius: 4px;
}

::placeholder {
  color: #B7BAC9;
}

input:focus {
  border-color: #66AFE9;
}

.span-disabled {
  color:#e2e2e2;
}

.t-area-h {
  height: 100px;
}

.fa-angle-right {
  font-size: 30px;
}

.dt-bg:read-only {
  background-color: #ffffff;
  cursor: pointer;
}

.input-feedback {
  color: red;
}

.input-error {
  border-color: red;
}


/* Table */
.tr-cursor {
  &:hover {
    cursor: pointer !important;
  }
}

.swal-del {
  height: 34px;
}

.fa-pen-square {
  color: #FEC001;
  font-size: 20px;
  cursor: pointer;
}

.fa-times {
  color: #DC3545;
  cursor: pointer;
}

.fa-size {
  width: 7px;
  height: 14px;
}


// Sliding Pane
.ReactModalPortal {
  position: relative;
  z-index: 1000;
}